// =>> COLORS
$color-primary: #0458a2;
// $color-secondary:   #90856e;
$color-text:    #424242;
$color-text-bg: #fff;
$grey-xxlight:  #f4f6f6;
$grey-xlight:   #e7ecee;
$grey-light:    #d9dddf;
$grey-medium:   #78909c;
$grey-dark:     #455a64;
$text-muted:    #bdbdbd;
$color-alert:   #8e7616;

// $primary-yiq: color-yiq($color-primary, $color-text, $color-text-bg);
$color-links:       $color-primary;
$color-links-hover: darken($color-links, 15);
$links-border:      darken($color-links, 10);
// $secondary-yiq: color-yiq($color-secondary, $color-text, $color-text-bg);

// shades of neutral color, used for backgrounds, borders, etc.
// all of them must have a related item in `$colors` map (neutral-...)
$color-shades: (xxlight, xlight, light, medium, dark);

$colors: (
  primary:               $color-primary,
  // primary-yiq:           $primary-yiq,
  // secondary:             $color-secondary,
  // secondary-yiq:         $secondary-yiq,
  neutral-xxlight:       $grey-xxlight,
  neutral-xlight:        $grey-xlight,
  neutral-light:         $grey-light,
  neutral-medium:        $grey-medium,
  neutral-dark:          $grey-dark,
  text:                  $color-text,
  text-bg:               $color-text-bg,
  links:                 $color-links,
  links-border:          $links-border,
  links-yiq:             color-yiq($color-links, $color-text, $color-text-bg),
  links-hover:           $color-links-hover,
  links-hover-yiq:       color-yiq($color-links-hover, $color-text, $color-text-bg),
  text-muted:            $text-muted,
  inpt-btn-border:       $grey-medium,
  inpt-btn-border-focus: $links-border,
  color-alert:           $color-alert,
  color-alert-bg:        lighten($color-alert, 50%)
);

// =>> BREAKPOINTS

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1440px
);

//=>> FONTS

// https://fonts.google.com/specimen/Libre+Franklin

$wghts: (
  xxlight:  100, // not in non-variable set (uses fallback: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#fallback_weights)
  xlight:   200, // not in non-variable
  light:    300,
  regular:  400,
  semibold: 550, // not in non-variable set
  bold:     700
);

// $body-font-family:            var(--font-family);
$body-font-weight-light:    map-get($wghts, light);
$body-font-weight-regular:  map-get($wghts, regular);
$body-font-weight-semibold: map-get($wghts, semibold);
$body-font-weight-bold:     map-get($wghts, bold);

// $heading-font-family:         $body-font-family;
$heading-font-weight-light:   map-get($wghts, xlight);
$heading-font-weight-regular: map-get($wghts, xlight);
$heading-font-weight-bold:    map-get($wghts, light);

$line-height:      1.45;
$root-font-size:   16px;
$font-size-base:   1rem;
$font-size-big:    $font-size-base * 1.25;
$font-size-medium: 85%;
$font-size-small:  75%;
$font-size-xsmall: 65%;


// =>> MISC
$border-radius:   .4rem;
$form-control-bg: map-get($colors, text-bg);
$form-control-x-padding: .6rem;
$form-control-y-padding: .5rem;
$btn-x-padding: $form-control-x-padding * 2;
$btn-y-padding: $form-control-y-padding * 1.5;

// =>> PLACEHOLDERS
%focus {
  box-shadow: 0 0 6px 2px rgba(map-get($colors, links), .7);
}
